* {
  box-sizing: border-box;
}

body {
  background-color: #eef9bf;
  font-family: "Roboto", sans-serif;
}

/* MAIN E HEADER */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div {
  display: flex;
  justify-content: center;
}

div h1 {
  margin: 40px 0 40px 0;
  font-weight: bold;
  font-size: 56px;
  line-height: 66px;
  letter-spacing: -0.004em;
  color: #75b79e;
}

/* CARDS */

section {
  width: 1169px;
  height: 343px;
}

section div {
  height: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-game {
  width: 117px;
  height: 146px;
  margin: 10px 18px 10px 18px;
  position: relative;
  background-color: #a7e9af;
}

.card-game:active {
  transform: scale(0.97);
}

.flip {
  transform: rotateY(180deg);
}

.front-card,
.back-card {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
  position: absolute;
}

.front-card {
  transform: rotateY(180deg);
}

.rotate-front {
  transform: rotateY(0deg);
}

.rotate-back {
  transform: rotateY(-180deg);
}

